<div class="content-board-style">
    <div class="options-style">
        <!-- <app-options [snippets]="snippets"></app-options> -->

    <div  class="search-style">
     
            <input type="text" [(ngModel)]="searchText" name="search" matInput placeholder="Seach for an Error Snippet by title, description or code">

    </div>
    
    </div>

    <div  class="board-style" >

        <div  for="snippet" class="board-content-style">

           
            
            <div   *ngFor="let snippet of errorSnippets | filter: searchText "
             class="snippet-box">

               <div class="delete-button-div">
                    <mat-icon class="delete-button" (click)="deleteErrorSnippet(snippet)">close</mat-icon>
               </div> 
                
               
                <div class="snippet-p" *ngFor="let topic of topics"> 
                    <p class="topic-style" *ngIf="topic.id == snippet.topic">{{topic.topic}}</p>
                 </div>  
         

                <p class="snippet-p">{{snippet.title}}</p>
                
               <p class="snippet-p"><span class="row-styles">Description:</span>{{snippet.description}}</p> 
                

          
                <div class="board-content-code-style">
                    <div ngxCopyPaste #cp="copy" class="html-text" [innerHTML]="snippet.codeSnippet"></div>
                    <button (click)="cp.copy()">Copy</button>
                </div> 
            
               
            </div> 

        </div>        
    </div>
    
</div>