.content-board-style{
    background-color: #525f7f;
    height: 100%;
}

.options-style{
    height: 5%;
}

.board-style{
/*     border: solid;
    border-color: blue; */
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.board-content-style{
   /*  border: solid;
    border-color: red; */
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    height: 90%;
    width: 90%;
    overflow: scroll;

}
.board-content-style::-webkit-scrollbar {
    display: none; 
}

.board-content-code-style{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 90%;
    width: 100%;
    overflow: scroll;
    background-color: #1e1e2f;
    color: white;
}

.board-content-code-style::-webkit-scrollbar{
    display: none; 
}

.snippet-box{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    border: solid;
    border-radius: 10px;
    border-color: white;
    margin: 10px;
    width: 35%;
    height: 60%;
}

.row-styles{
    font-weight: 700;
    color: white;
}

.snippet-tag{
    margin-left: 5%;
    color: white;
}

.snippet-p{
   margin-left: 5%;
   color: rgba(157, 155, 155, 0.776);
}

.title{
    margin-left: 5%;
   color: white;
   font-weight: 800; 
   width: 100%;
   text-align: center;
}

.topic-style{
    border-radius: 5px;
    background: #fd5d93;
    
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.delete-button-div{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.delete-button{
    color: #fd5d927c;
}

input[type=text] {
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    background-color: #1e1e2f;
    border-bottom: 4px solid;
    border-top: 4px solid;
    border-color: black;
    font-size: 18px;
    color: aliceblue;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.363);
    opacity: 1; /* Firefox */
  }

  .html-text{
    color: #fd5d93;
    font-size: 18px;
    margin-left: 20px;
    margin-top:  20px;
  }