<h1 mat-dialog-title>Add a new Snippet</h1>
<div mat-dialog-content> 

    <form [formGroup]="snippetForm" class="snippet-form-style">
        <mat-form-field  appearance="outline">
            <mat-label>Snippet Title</mat-label>
            <input formControlName="title" matInput placeholder="Snippet title">
        </mat-form-field>
  
 
        <mat-form-field  appearance="outline">
            <mat-label>Snippet Descripiton</mat-label>
            <input formControlName="description" matInput placeholder="Snippet description">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Code Snippet</mat-label>
            <textarea formControlName="codeSnippet" matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label for="topic">Select</mat-label>
            <mat-select formControlName="topic">
              <mat-option *ngFor="let topic of topics" [value]="topic.id">{{topic.topic}}</mat-option>
            </mat-select>
        </mat-form-field>


    </form>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="onNoClick()" color="accent">Cancel</button>
    <button mat-stroked-button (click)="addSnippet()" >Add Topic</button>
</div>